<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Prism Dashboard</title>
        <meta content="noindex, nofollow" name="robots">
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>
        <div ui-view></div>

        <!-- build:js -->
        <script src="http://localhost:35732/livereload.js"></script>
        <!-- endbuild -->
        
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
